In [1]:
sqrt(4)

<class 'NameError'>: name 'sqrt' is not defined

In [2]:
# using modules
import math

In [3]:
math.sin(3)

0.1411200080598672

In [4]:
print("The square root of 4 is", math.sqrt(4))

The square root of 4 is 2.0

In [5]:
station_names =[
  "Helsinki",
  "Lisbon",
  "Brussels"
]

In [6]:
print(station_names)

['Helsinki', 'Lisbon', 'Brussels']

In [7]:
type(station_names)

list

In [8]:
print(station_names[0])

Helsinki

In [9]:
len(station_names)

3

In [10]:
print(station_names[-1])

Brussels

In [2]:
station_name="Helsinki"
station_id=132310
station_lat=60.15
station_lon=24.96
station_type="Mareographs"

In [12]:
station_helsinki=[station_name, station_id, station_lat, station_lon, station_type]

In [13]:
print(statin_helsinki)

<class 'NameError'>: name 'statin_helsinki' is not defined

In [14]:
print(station_helsinki)

['Helsinki', 132310, 60.15, 24.96, 'Mareographs']

In [15]:
del station_names[0]
print(station_names)

['Lisbon', 'Brussels']

In [16]:
station_names.append("Santiago")
station_names.append("Lima")
print(station_names)

['Lisbon', 'Brussels', 'Santiago', 'Lima']

In [17]:
station_names_length=len(station_names)

In [18]:
print(station_names_length)

4

In [19]:
station_names.count("Lisbon")

1

In [20]:
station_names.index("Brussels")

1

In [21]:
station_names.reverse()

In [22]:
print(station_names)

['Lima', 'Santiago', 'Brussels', 'Lisbon']

In [23]:
station_names.sort()
print(station_names)

['Brussels', 'Lima', 'Lisbon', 'Santiago']

In [24]:
station_id_str =str(station_id)

In [25]:
station_name_and_id = station_name + ": " + str(station_id)
print(station_name_and_id)

Helsinki: 132310

In [5]:
temp = 18.56789876
# fString formatting: combine text with integers
info_text = f"The temperature at {station_name} station (ID: {station_id}) is {temp:.2f} degress Celsius"
print(info_text)

The temperature at Helsinki station (ID: 132310) is 18.57 degress Celsius